/*
========================================================================================
    Local config file
========================================================================================
    Configuration for running on a local machine
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Local'
    config_profile_description = 'Configuration for running on a local machine'
    max_memory                 = '16.GB'
    max_cpus                   = 8
    max_time                   = '6.h'
}

process {
    executor = 'local'
}
