/*
========================================================================================
    Test config file
========================================================================================
    Configuration for test data
----------------------------------------------------------------------------------------
*/

conda.enabled = true
singularity.enabled = false
docker.enabled = false
podman.enabled = false
shifter.enabled = false
charliecloud.enabled = false
process.conda = "${System.getenv('HOME')}/Software/miniconda3/envs/LemonIte"

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    params.enable_conda        = true

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 5
    max_memory = '16.GB'
    max_time   = '6.h'

    // Test parameters
    n_clusters = 5
    coherence_threshold = 0.5
    variability_threshold = 0.5
    top_n_genes = 2000

    // Input data - use the bundled test dataset
    input_dir = "${projectDir}/test_dataset"
}
