/*
========================================================================================
    Test config file
========================================================================================
    Configuration for test data
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Test parameters
    n_clusters = 5
    coherence_threshold = 0.5
    variability_threshold = 0.5

    // Input data would be set when running the test
    input_dir = 'test_data'
}
